body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
}

#mensagem-vitoria {
    position: fixed; /* Fica no centro da tela */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza a mensagem */
    background-color: rgba(255, 192, 203, 0.8); /* Cor de fundo rosa claro */
    color: #fff; /* Texto branco */
    padding: 20px;
    border-radius: 10px; /* Bordas arredondadas */
    font-size: 2em; /* Tamanho da fonte maior */
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Sombra */
    z-index: 1000; /* Fica acima de outros elementos */
    transition: opacity 1s ease; /* Transição suave */
    opacity: 0; /* Começa invisível */
}

/* Classe para mostrar a mensagem */
.mostrar {
    opacity: 1; /* Torna visível */
}

